*{
    box-sizing: border-box;
}

table{
    margin-top: 200px;
}
table tr {
    display: flex;
    justify-content: space-evenly;
}

table thead tr th {
    margin-right: 90px;
    margin-bottom: 10px;
}

table tbody tr td{
    margin-left: 80px;
}

.categoria{
    margin-left: 180px;
}